<mat-card>
  <mat-card-title>My debt</mat-card-title>
  <mat-card-content>

    <form #viewPointForm="ngForm">
      <mat-form-field>
        <mat-select matInput [(value)]="viewPoint" (change)="viewPointChanged()"  name="pov" placeholder="View Point" required>
          <mat-option *ngFor="let dude of dudes" [value]="dude">
            {{ dude.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-list dense>
      <mat-list-item *ngFor="let debt of debtList">{{ debt.owner.name }}: {{ debt.amount }} ({{ debt.relation }})</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
