<!--The content below is only a placeholder and can be replaced.-->
<div class="layout-card-container">
  <app-toolbar class="nav-toolbar-container" [dudes]="dudes"></app-toolbar>

  <div fxLayout="row" fxLayoutGap="1em" fx>
    <div>
      <app-new-bill class="layout-card" [dudes]="dudes"></app-new-bill>
    </div>
    <div>
      <app-new-payment class="layout-card" [dudes]="dudes"></app-new-payment>
    </div>
    <div>
      <app-debt-overview class="layout-card" [dudes]="dudes"></app-debt-overview>
    </div>
    <div>
      <app-recent-activity class="layout-card" [dudes]="dudes"></app-recent-activity>
    </div>
  </div>
</div>
