<mat-card>
  <mat-card-title>New payment</mat-card-title>
  <mat-card-content>
    <form #paymentForm="ngForm">
      <mat-form-field>
        <input type="text"
               matInput
               [formControl]="dudeAutoComplete"
               [(ngModel)]="receiver"
               [matAutocomplete]="auto"
               placeholder="Receiver"
               required>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="renderDude">
        <mat-option *ngFor="let dude of getDudesExceptSelected()" [value]="dude">
          {{ dude.name }}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput [(ngModel)]="paymentAmount" name="amount" type="number" placeholder="Amount (CHF)" required>
      </mat-form-field>

      <button mat-raised-button type="submit" (click)="submitPayment()" [disabled]="!paymentForm.valid">Save</button>
    </form>
  </mat-card-content>
</mat-card>
