<mat-card>
  <mat-card-title>Recent activity</mat-card-title>
  <mat-card-content>

    <div *ngIf="loading">
      Loading recent activities
    </div>

    <div fxFlex="grow" fxLayout="column">
      <h2 mat-subheader>Bills</h2>

      <mat-list *ngIf="!loadingBills">
        <mat-list-item *ngFor="let bill of bills | slice:0:5"
                       fxLayout="column">
          <div fxFlex="grow"
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <div>{{ bill.description }}</div>
            <div>{{ (dudes | findDude:bill.owner).name }}</div>
            <div>{{ bill.amount }}</div>
            <div>{{ bill.created | date:'short' }}</div>
          </div>
        </mat-list-item>
      </mat-list>

      <h2 mat-subheader>Payments</h2>

      <mat-list *ngIf="!loadingPayments">
        <mat-list-item *ngFor="let payment of payments | slice:0:5"
                       fxLayout="column">
          <div fxFlex="grow"
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <div>{{ (dudes | findDude:payment.by).name }}</div>
            <div>{{ payment.amount }}</div>
            <div>{{ payment.at | date:'short' }}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
