<mat-card>
  <mat-card-title>Recent activity</mat-card-title>
  <mat-card-content>

    <div *ngIf="loadingBills || loadingPayments">
      Loading recent activities
    </div>

    <div fxFlex="grow" fxLayout="column">
      <mat-list>
        <!-- Bills -->
        <ng-container *ngIf="bills.length > 0">
          <h2 mat-subheader>Bills</h2>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let bill of bills | slice:0:5; let last = last;" class="bills-list">
            <!-- Main -->
            <div class="main-row" mat-line fxLayout="row" fxLayoutGap="12px">
              <div>{{ bill.description }}</div>
              <div fxFlex></div>
              <div>{{ bill.amount }}</div>
              <mat-icon svgIcon="cash" mat-list-icon></mat-icon>
            </div>

            <!-- Sub -->
            <div class="sub-row" mat-line fxLayout="row">
              <div>{{ (dudes | findDude:bill.owner).name }}</div>
              <div fxFlex></div>
              <div>{{ bill.created | date:'short' }}</div>
            </div>

            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>

        <!-- Payments -->
        <ng-container *ngIf="payments.length > 0">
          <h2 mat-subheader>Payments</h2>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let payment of payments | slice:0:5; let last = last" class="payments-list">
            <!-- Main -->
            <div class="main-row" mat-line fxLayout="row" fxLayoutGap="12px">
              <div>{{ (dudes | findDude:payment.by).name }}</div>
              <div fxFlex></div>
              <div>{{ payment.amount }}</div>
              <mat-icon svgIcon="cash" mat-list-icon></mat-icon>
            </div>

            <!-- Sub -->
            <div class="sub-row" mat-line fxLayout="row">
              <div fxFlex></div>
              <div>{{ payment.at | date:'short' }}</div>
            </div>

            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>

      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
